In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "English" : [76, 78 ,54, 67, 69],
    "Maths" : [89,76, 78, 78, 56],
    "Biology" : [98, 78, 89, 98, 98],
    "Chemistry" : [89, 67, 78, 78, 78]
}

In [3]:
new_df = pd.DataFrame(data, index=["st1", "st2", "st3", "st4", "st5"])

In [4]:
new_df

     English  Maths  Biology  Chemistry
st1       76     89       98         89
st2       78     76       78         67
st3       54     78       89         78
st4       67     78       98         78
st5       69     56       98         78

In [5]:
new_df.to_csv("result.csv", index=False)

### reading

In [6]:
df = pd.read_csv("result.csv")

In [7]:
df

   English  Maths  Biology  Chemistry
0       76     89       98         89
1       78     76       78         67
2       54     78       89         78
3       67     78       98         78
4       69     56       98         78